/* Basic Reset to ensure consistency across browsers */
* {
    text-align: center;
    line-height: 0cqmin(20vw, 50px);
    margin: 0;
    padding: 0;
  }
  nav{
    background-color: rgb(95, 13, 13);
    padding: 10px 0;
  }
  body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: black;
    background-color: brown;
  }
section {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }